@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helper to hide scrollbars */
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }
